<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <a href="anuncios">Anuncios</a><br>
    <a href="anuncios/tags">Tags Disponibles</a><br>
    <a href="apidoc">Documentacion</a>
  </body>
</html>
