<!DOCTYPE html>
<html>
<head>	
</head>
<body>
	<% rows.forEach(function(usuario){ %>
 	<p><b>Nombre:</b><%= usuario.nombre %> <b>Email:</b><%= usuario.email %> <b>Clave:</b><%= usuario.clave %></p>
	<% }) %>
</body>
</html>